 <style>
      body {
        background-color: rgb(246, 247, 242);
      }
      .container {
        width: 100%;
        height: 100%;
      }
      .row {
        justify-content: space-between;
      }
      .name {
        text-align: center;
        padding: 20px;
        right: 50px;
      }
      h1 {
        font-size: 3rem;
        font-family: "Lobster", sans-serif;
      }
      .lead {
        font-size: 2rem;
        font-family: 'Great Vibes', cursive;
      }
      .info {
        text-align: center;
        font-size: 1.2rem;
        line-height: 25px;
      }
      #img, #picture {
        border: 1px solid gray;
        border-radius: 20px;
        padding: 15px;
      }
      .btn {
        background-color:rgb(255, 242, 215);
        border: 1px solid grey;
        border-radius: 7px;
        font-style: oblique;
        width: 190px;
        cursor: pointer;
        font-size: 1.2rem;
      }
      .line {
        background-color: black;
        display: block;
        max-width: 200px;
        width: 100%;
        height: 1px;
        margin-left: 218px;
      }
      .text {
        text-align: center;
        font-size: 1.2rem;
        line-height: 22px;
        left: 85px;
      }
      h2, h4 {
        font-family: "Playfair Display", serif;
      }
      #work {
        margin-top: 30px;
        width: 100%;
      }
      #menu__toggle {
      opacity: 0;
      }
      #menu__toggle:checked + .menu__btn > span {
      transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
      top: 0;
      transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
      left: 0 !important;
      }
      .menu__btn {
      position: fixed;
      top: 20px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
      display: block;
      position: relative;
      width: 100%;
      height: 2px;
      background-color: #616161;
      transition-duration: .25s;
      }
      .menu__btn > span::before {
      content: '';
      top: -8px;
      }
      .menu__btn > span::after {
      content: '';
      top: 8px;
      }
      .menu__box {
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: rgb(236, 239, 241);
      box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
      transition-duration: .25s;
      }
      .menu__item {
      display: block;
      padding: 12px 24px;
      color: #333;
      font-family: "Playfair Display", serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration: .25s;
      }
      .menu__item:hover {
      background-color: hsl(198, 16%, 84%);
      }
      .btn-apply {
        background-color: hsl(28, 30%, 63%);
        color: whitesmoke;
      }
      .btn-apply:hover {
        background-color: hsl(28, 30%, 50%);
        color: whitesmoke;
      }
      .slider-container {
        position: relative;
        width: 600px;
        height: 400px;
        margin: 0 auto;
        overflow: hidden;
      }
      .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
      }
      .slider img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .prev-button,
      .next-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: none;
        font-size: 24px;
        color: white;
      }
      .prev-button {
        left: 10px;
      }
      .next-button {
        right: 10px;
      }
      .fa-brands {
        padding: 20px;
        font-size: 45px;
      }
      .fa-square-whatsapp {
        background: rgb(13, 188, 13);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .fa-brands fa-telegram{
        background: rgb(27, 116, 250);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .fa-square-instagram {
        background: linear-gradient(to bottom, rgb(198, 1, 198), rgb(248, 2, 2), rgb(255, 255, 0));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    </style>